/* Общее оформление контента */

:root {
  /* Цвета текста */
  --primary-text-color:  #757575;
  --header-text-color: #212121;
  --accent-blue-color: #2196f3;
  --accent-white-color: #ffffff;
  --accent-black-color: #000000;
  --accent-rgba-color: rgba(255, 255, 255, 0.6);
  /* Цвета фона */
  --primary-bck-color:#ffffff;
  --secondary-bck-color:#2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bck-color);
}

.header {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  color: var(--header-text-color);
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--primary-text-color);
}

.white-text {
  color: var(--accent-white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  color: var(--accent-black-color);
}

.accent-color {
  color: var(--accent-blue-color);
}

/* Навигация */
.site-nav .link {
  font-weight: 500;
  line-height: 16px;
  color: var(--header-text-color)
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-blue-color);
}

.site-nav .link.current {
  color: var(--accent-blue-color)
  }
   
/* Контакты */
address .link {
  font-weight: 500;
  color: var(--primary-text-color);
}

address .link:hover,
address .link:focus {
  color: var(--accent-blue-color);
}

/* Герой */
.wrap-hero {
  background-color: var(--secondary-bck-color);
  width: 1600px;
  height: 600px;
}

.header-hero {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-white-color);
}

/* Кнопка под блоком-героем */
.button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background-color: var(--accent-blue-color);
  line-height: 30px;
  font-weight: 700;
  font-size: 16px;
}

/* Наши преимущества */

.hidden-title {
  visibility: hidden;
}

.subtitle-why-we {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

/* Наша команда */
.subtitle-our-team {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: var(--header-text-color);
  /* text-align: center; */
}

.text-our-team {
  font-size: 16px;
  line-height: 19px;
}

/* Футер */
.wrap-footer {
  background-color: var(--secondary-bck-color);
  width: 1600px;
  height: 250px;
}

.wrap-footer .link {
  color: var(--accent-rgba-color);
}
